{% extends 'back.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Terrain{% endblock %}
{% block navlink%}
    Gestion
{% endblock %}
{% block navItem%}
    <a href="{{ path('terrain_index') }}">gestion des terrains</a>
    <a href="{{ path('type_index') }}">gestion des types</a>
    <a href="{{ path('app_reservation_index') }}">gestion reservations</a>
{% endblock %}

{% block row %}
{% endblock %}

 {% block globchart %}
 {% endblock %}
{% block cardDel %}
{% endblock %}

{% block table %}
    <h1>Edit Reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
