{% extends 'back.html.twig' %}

{% block title2 %}Terrain{% endblock %}
{% block navlink%}
    Gestion
{% endblock %}
{% block navItem%}
    <a href="{{ path('terrain_index') }}">gestion des terrains</a>
    <a href="{{ path('type_index') }}">gestion des types</a>
{% endblock %}

{% block tableData %}
{% endblock %}
 {% block globchart %}
 {% endblock %}

 {% block table %}
 {% endblock %}
{% block row %}
{% endblock %}
 {% block linkDel %}
     <a class="btn btn-link text-dark px-3 mb-0" href="{{ path('terrain_edit', {'id': terrain.id}) }}"><i class="material-icons text-sm me-2">edit</i>Edit</a>
     {{ include('terrain/_delete_form.html.twig') }}
 {% endblock %}

{% block card %}
<h1>Reservations</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Strat from:</th>
            <td>{{ reservation.start }}</td>
        </tr>
        <tr>
            <th>To</th>
            <td>{{ reservation.end }}</td>
        </tr>

        <tr>
            <th>Color</th>
            <td>{{ reservation.backgroundColor }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('terrain_index') }}">back to list</a>


{% endblock %}